<configuration>
    <config>
        <add key="globalPackagesFolder" value="out/dep" />
    </config>

    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="zig-sdk" value="out/pkg/release" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="zig-sdk">
            <package pattern="Vezel.Zig.Sdk" />
        </packageSource>
    </packageSourceMapping>

    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
